<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Resources Service - Employees</title>
</head>
<body>
<h3>Employees data from database</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Hire Date</th>
            <th>Salary</th>
        </tr>
        <tr th:each="empl : ${employees}">
            <td th:text="${empl.id}">12</td>
            <td th:text="${empl.name}">Test</td>
            <td th:text="${empl.lastName}">Test</td>
            <td th:text="${empl.hireDate}">12.12.2012</td>
            <td th:text="${empl.salary}">2000</td>

        </tr>
    </table>

</body>
</html>